.bg-green {
	background-image: url("../img/growthiq/background.jpeg")!important;
	background-size:cover!important;
}

.bg-white{
    background-color: whitesmoke;
}

.bg-green-hex {
    background-color:#5a7f6e;
}
.text-green {
    color:#5a7f6e;
}

.text-gray-600 {
	color:white!important;
}


.flickity-button {
	background-image: url("../img/growthiq/background.jpeg")!important;
	background-size:cover!important;
    border-style: solid!important;
    border-color: darkgrey!important;
    border-radius: 10px!important;
}


.btn-primary-green {
    --bs-btn-color: #fff;
    --bs-btn-bg: #198754;
    --bs-btn-border-color: #198754;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: green;
    --bs-btn-hover-border-color: #5246bb;
    --bs-btn-focus-shadow-rgb: 125,113,237;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5246bb;
    --bs-btn-active-border-color: #4d42b0;
    --bs-btn-active-shadow: 0 0 6px rgba(27,22,66,.03),0 14px 24px rgba(27,22,66,.06);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #198754;
    --bs-btn-disabled-border-color: #198754;
    background-image: url("../img/growthiq/background.jpeg");
    background-size:cover;
}


.form-check.form-check-dark .form-check-input:checked {
    background-color: darkgrey;
}


.text-primary {
    color: darkgreen!important;
}

.text-primary-gold {
  color: #f5c070!important;
}

.border-primary {
    color: #f5c070!important;
}

.border-green{
    border-color:darkgreen!important;
}

.text-primary-light {
    color: green!important;
}

.dropdown-header {
    color: darkgreen!important;
}

a.h6 {
    color:darkgreen!important;
}


.text-center-mobile {}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
  */

  @media (min-width: 1281px) {

      /* CSS */

  }

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
  */

  @media (min-width: 1025px) and (max-width: 1280px) {

      /* CSS */

  }

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  */

  @media (min-width: 768px) and (max-width: 1024px) {

      /* CSS */

  }

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
  */

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

      /* CSS */

  }

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
  */

  @media (min-width: 481px) and (max-width: 767px) {

      /* CSS */
      .text-center-mobile {
        text-align: center!important;
    } 
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
  */

  @media (min-width: 320px) and (max-width: 480px) {

      /* CSS */

  }


.bg-warning-green{
    background-color: darkgreen!important;
}

.text-underline-warning {
background-image: linear-gradient(90deg,#f5c070,#f5c070);
}


.text-underline-success {
background-image: linear-gradient(90deg,#648d7b,#648d7b);
}

.text-code{
    color: #608674!important;
}


.text-success {
  color: #5a7f6e!important;
}



.btn-white {
  color: #5a7f6e;
}
.btn-white:hover {
  color:#f5c070;
}


.display-69{
    font-size: 5.125rem;
    font-family: 'DM Sans'!important;
    font-weight: 500!important;
    letter-spacing: -.01em!important;
}

.navbar{
    --bs-navbar-brand-margin-end: 0rem!important;
}

.height{
    padding-top: 5rem!important;
    padding-bottom: 5rem!important;
}

.latime{
    width: 80vw;
}

@media only screen and (max-width: 600px){
    telef{
    font-size: 2rem!important;
    font-family: 'DM Sans'!important;
    font-weight: 500!important;
    letter-spacing: -.01em!important;
    }
}